-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: arenahub
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookings` (
  `BookingID` int NOT NULL AUTO_INCREMENT,
  `UserID` int NOT NULL,
  `TurfID` int NOT NULL,
  `BookingDate` date NOT NULL,
  `StartTime` time NOT NULL,
  `EndTime` time NOT NULL,
  `Status` varchar(20) DEFAULT 'CONFIRMED',
  `PaymentStatus` varchar(20) DEFAULT 'PAID',
  `Visibility` enum('PRIVATE','PUBLIC') DEFAULT 'PRIVATE',
  `MaxPlayers` int DEFAULT '10',
  `CurrentPlayers` int DEFAULT '1',
  `IsRecurring` tinyint(1) DEFAULT '0',
  `RecurrenceGroupID` varchar(50) DEFAULT NULL,
  `DisputeStatus` enum('NONE','OPEN','RESOLVED') DEFAULT 'NONE',
  `DisputeReason` text,
  `DisputeResolution` text,
  PRIMARY KEY (`BookingID`),
  KEY `UserID` (`UserID`),
  KEY `TurfID` (`TurfID`),
  CONSTRAINT `bookings_ibfk_1` FOREIGN KEY (`UserID`) REFERENCES `users` (`UserID`),
  CONSTRAINT `bookings_ibfk_2` FOREIGN KEY (`TurfID`) REFERENCES `turfs` (`TurfID`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `disputes`
--

DROP TABLE IF EXISTS `disputes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disputes` (
  `DisputeID` int NOT NULL AUTO_INCREMENT,
  `BookingID` int NOT NULL,
  `RaisedByUserID` int NOT NULL,
  `Reason` text NOT NULL,
  `Status` enum('OPEN','UNDER_REVIEW','RESOLVED','REJECTED') DEFAULT 'OPEN',
  `Resolution` text,
  `ResolvedByAdminID` int DEFAULT NULL,
  `RefundAmount` decimal(10,2) DEFAULT '0.00',
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ResolvedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`DisputeID`),
  KEY `BookingID` (`BookingID`),
  KEY `RaisedByUserID` (`RaisedByUserID`),
  KEY `ResolvedByAdminID` (`ResolvedByAdminID`),
  CONSTRAINT `disputes_ibfk_1` FOREIGN KEY (`BookingID`) REFERENCES `bookings` (`BookingID`) ON DELETE CASCADE,
  CONSTRAINT `disputes_ibfk_2` FOREIGN KEY (`RaisedByUserID`) REFERENCES `users` (`UserID`) ON DELETE CASCADE,
  CONSTRAINT `disputes_ibfk_3` FOREIGN KEY (`ResolvedByAdminID`) REFERENCES `users` (`UserID`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `equipment`
--

DROP TABLE IF EXISTS `equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment` (
  `EquipmentID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Description` varchar(255) DEFAULT NULL,
  `PricePerHour` decimal(10,2) NOT NULL,
  `AvailableStock` int DEFAULT '10',
  `ImageURL` varchar(500) DEFAULT NULL,
  `Status` enum('AVAILABLE','OUT_OF_STOCK') DEFAULT 'AVAILABLE',
  PRIMARY KEY (`EquipmentID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `equipmentrentals`
--

DROP TABLE IF EXISTS `equipmentrentals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipmentrentals` (
  `RentalID` int NOT NULL AUTO_INCREMENT,
  `BookingID` int NOT NULL,
  `EquipmentID` int NOT NULL,
  `Quantity` int DEFAULT '1',
  `TotalPrice` decimal(10,2) NOT NULL,
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`RentalID`),
  KEY `BookingID` (`BookingID`),
  KEY `EquipmentID` (`EquipmentID`),
  CONSTRAINT `equipmentrentals_ibfk_1` FOREIGN KEY (`BookingID`) REFERENCES `bookings` (`BookingID`) ON DELETE CASCADE,
  CONSTRAINT `equipmentrentals_ibfk_2` FOREIGN KEY (`EquipmentID`) REFERENCES `equipment` (`EquipmentID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `gameparticipants`
--

DROP TABLE IF EXISTS `gameparticipants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gameparticipants` (
  `ParticipantID` int NOT NULL AUTO_INCREMENT,
  `BookingID` int NOT NULL,
  `UserID` int NOT NULL,
  `JoinedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `Status` enum('JOINED','LEFT','KICKED') DEFAULT 'JOINED',
  PRIMARY KEY (`ParticipantID`),
  UNIQUE KEY `unique_player_game` (`BookingID`,`UserID`),
  KEY `UserID` (`UserID`),
  CONSTRAINT `gameparticipants_ibfk_1` FOREIGN KEY (`BookingID`) REFERENCES `bookings` (`BookingID`) ON DELETE CASCADE,
  CONSTRAINT `gameparticipants_ibfk_2` FOREIGN KEY (`UserID`) REFERENCES `users` (`UserID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `MessageID` int NOT NULL AUTO_INCREMENT,
  `SenderID` int NOT NULL,
  `ReceiverID` int DEFAULT NULL,
  `BookingID` int DEFAULT NULL,
  `Content` text NOT NULL,
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `IsRead` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`MessageID`),
  KEY `SenderID` (`SenderID`),
  KEY `ReceiverID` (`ReceiverID`),
  KEY `BookingID` (`BookingID`),
  CONSTRAINT `messages_ibfk_1` FOREIGN KEY (`SenderID`) REFERENCES `users` (`UserID`),
  CONSTRAINT `messages_ibfk_2` FOREIGN KEY (`ReceiverID`) REFERENCES `users` (`UserID`),
  CONSTRAINT `messages_ibfk_3` FOREIGN KEY (`BookingID`) REFERENCES `bookings` (`BookingID`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pricingrules`
--

DROP TABLE IF EXISTS `pricingrules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pricingrules` (
  `RuleID` int NOT NULL AUTO_INCREMENT,
  `TurfID` int NOT NULL,
  `RuleName` varchar(100) NOT NULL,
  `RuleType` enum('WEEKEND','HOLIDAY','PEAK_HOUR','CUSTOM') NOT NULL,
  `Multiplier` decimal(3,2) NOT NULL,
  `StartTime` time DEFAULT NULL,
  `EndTime` time DEFAULT NULL,
  `SpecificDate` date DEFAULT NULL,
  `IsActive` tinyint(1) DEFAULT '1',
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`RuleID`),
  KEY `TurfID` (`TurfID`),
  CONSTRAINT `pricingrules_ibfk_1` FOREIGN KEY (`TurfID`) REFERENCES `turfs` (`TurfID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reviewimages`
--

DROP TABLE IF EXISTS `reviewimages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reviewimages` (
  `ImageID` int NOT NULL AUTO_INCREMENT,
  `ReviewID` int NOT NULL,
  `ImageURL` varchar(500) NOT NULL,
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`ImageID`),
  KEY `ReviewID` (`ReviewID`),
  CONSTRAINT `reviewimages_ibfk_1` FOREIGN KEY (`ReviewID`) REFERENCES `reviews` (`ReviewID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reviews` (
  `ReviewID` int NOT NULL AUTO_INCREMENT,
  `UserID` int NOT NULL,
  `TurfID` int NOT NULL,
  `BookingID` int DEFAULT NULL,
  `Rating` int NOT NULL,
  `ReviewText` text,
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`ReviewID`),
  UNIQUE KEY `unique_user_turf_review` (`UserID`,`TurfID`),
  KEY `TurfID` (`TurfID`),
  CONSTRAINT `reviews_ibfk_1` FOREIGN KEY (`UserID`) REFERENCES `users` (`UserID`) ON DELETE CASCADE,
  CONSTRAINT `reviews_ibfk_2` FOREIGN KEY (`TurfID`) REFERENCES `turfs` (`TurfID`) ON DELETE CASCADE,
  CONSTRAINT `reviews_chk_1` CHECK (((`Rating` >= 1) and (`Rating` <= 5)))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `subscriptions`
--

DROP TABLE IF EXISTS `subscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriptions` (
  `SubscriptionID` int NOT NULL AUTO_INCREMENT,
  `UserID` int NOT NULL,
  `TurfID` int NOT NULL,
  `DayOfWeek` enum('MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY') NOT NULL,
  `StartTime` time NOT NULL,
  `EndTime` time NOT NULL,
  `StartDate` date NOT NULL,
  `EndDate` date DEFAULT NULL,
  `Status` enum('ACTIVE','PAUSED','CANCELLED') DEFAULT 'ACTIVE',
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`SubscriptionID`),
  KEY `UserID` (`UserID`),
  KEY `TurfID` (`TurfID`),
  CONSTRAINT `subscriptions_ibfk_1` FOREIGN KEY (`UserID`) REFERENCES `users` (`UserID`) ON DELETE CASCADE,
  CONSTRAINT `subscriptions_ibfk_2` FOREIGN KEY (`TurfID`) REFERENCES `turfs` (`TurfID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `turfimages`
--

DROP TABLE IF EXISTS `turfimages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turfimages` (
  `ImageID` int NOT NULL AUTO_INCREMENT,
  `TurfID` int NOT NULL,
  `ImageURL` varchar(500) NOT NULL,
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`ImageID`),
  KEY `TurfID` (`TurfID`),
  CONSTRAINT `turfimages_ibfk_1` FOREIGN KEY (`TurfID`) REFERENCES `turfs` (`TurfID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `turfs`
--

DROP TABLE IF EXISTS `turfs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turfs` (
  `TurfID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `SportType` varchar(50) NOT NULL,
  `PricePerHour` decimal(10,2) NOT NULL,
  `Status` varchar(20) DEFAULT 'AVAILABLE',
  `OwnerID` int DEFAULT NULL,
  `Description` text,
  `ImageURL` varchar(500) DEFAULT NULL,
  `Location` varchar(255) DEFAULT NULL,
  `WeekendPriceMultiplier` decimal(3,2) DEFAULT '1.00',
  `MaintenanceLockStart` date DEFAULT NULL,
  `MaintenanceLockEnd` date DEFAULT NULL,
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`TurfID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `UserID` int NOT NULL AUTO_INCREMENT,
  `FullName` varchar(100) NOT NULL,
  `Email` varchar(100) NOT NULL,
  `Phone` varchar(20) DEFAULT NULL,
  `UserRole` varchar(20) NOT NULL,
  `PasswordHash` varchar(255) NOT NULL,
  `Status` varchar(20) DEFAULT 'ACTIVE' COMMENT 'ACTIVE | BANNED | SUSPENDED',
  `AvatarURL` varchar(500) DEFAULT NULL,
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`UserID`),
  UNIQUE KEY `Email` (`Email`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `wallets`
--

DROP TABLE IF EXISTS `wallets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wallets` (
  `WalletID` int NOT NULL AUTO_INCREMENT,
  `UserID` int NOT NULL,
  `Balance` decimal(10,2) DEFAULT '0.00',
  `Currency` varchar(10) DEFAULT 'PKR',
  `UpdatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`WalletID`),
  UNIQUE KEY `UserID` (`UserID`),
  CONSTRAINT `wallets_ibfk_1` FOREIGN KEY (`UserID`) REFERENCES `users` (`UserID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `wallettransactions`
--

DROP TABLE IF EXISTS `wallettransactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wallettransactions` (
  `TransactionID` int NOT NULL AUTO_INCREMENT,
  `WalletID` int NOT NULL,
  `Amount` decimal(10,2) NOT NULL,
  `TransactionType` enum('TOP_UP','BOOKING_PAYMENT','REFUND','EQUIPMENT_RENTAL') NOT NULL,
  `Description` varchar(255) DEFAULT NULL,
  `ReferenceID` int DEFAULT NULL,
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`TransactionID`),
  KEY `WalletID` (`WalletID`),
  CONSTRAINT `wallettransactions_ibfk_1` FOREIGN KEY (`WalletID`) REFERENCES `wallets` (`WalletID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-03 16:42:11
